*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;

}
html{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    display: flex;
    justify-content: center;
    padding: 5% 0;
    font-size: 40px;
}
body{
    height: 100vh;
}

.logo{
    position: absolute;
    bottom: 2%;
    right: 3%;
    width: 100px;
}
img{
    box-shadow: 3px 4px 10px 3px black;
}

.info{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}
.honey{
    width: 400px;
}

.info p{
    margin-left: auto;
    text-align: center;
    font-size: 22;
    padding: 50px;
    background-color: white;
    box-shadow: 3px 4px 10px 3px black;
    width: 400px;
    vertical-align: middle;
}
